.DS_Store
backend/__pycache__/app.cpython-312.pyc
backend/__pycache__/config.cpython-312.pyc
backend/__pycache__/models.cpython-312.pyc
backend/__pycache__/routes.cpython-312.pyc
backend/__pycache__/utils.cpython-312.pyc
