bcrypt
blinker
certifi
cffi
click
cryptography
dnspython
Flask
Flask-Cors
Flask-Login
Flask-PyMongo
gunicorn
itsdangerous
Jinja2
MarkupSafe
mongoengine
packaging
pycparser
PyJWT
pymongo
python-dotenv
setuptools
Werkzeug
wheel
